.company-page-name,
.company-page-cnpj,
.company-page-description {
  margin-left: 11.69rem;
}

.company-page-inline {
  display: flex;
  justify-content:space-between ;
  max-width: 105.24rem;
}

.company-page-btns-title {
  display: flex;
  column-gap: 2rem;
}

.acc-pri {
  margin-top: 2rem;
}

.btn-create-location,
.btn-create-accountable {
  margin-left: 11.69rem;
  margin-bottom: 0.5rem;
}

.title-list-location,
.title-list-accountable {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 11.69rem;
}

.btn-modal-create-location,
.btn-modal-create-accountable {
  width: 5rem;
}